{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SetiaMDN-Daftarku</title>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(document).ready( function() {
              $( "#acc" ).accordion();
            } );
        </script>
    </head>
    <style>
        .other1{
            width: 850px;
        }
        .other2{
            width: 150px;
            text-align: right;
        }
    </style>
    <body class="bodyC">
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            Dark Mode
        </div>
        </br>
        <p style="text-align:center; font-size: 24px; font-weight: 500;">Daftarku</p>
        </br></br>
        <div id="acc">
            <h3>Aktivitasku</h3>
            <div class="forms">
                <table bgcolor="white" align="center" style="margin-top: 40px; margin-bottom: 40px; font-size: 24px;">
                    {% for form in forms %}
                    <div class="form">
                        <tr>
                            <th style="text-align: left;">{{ form.date }}</th>
                        </tr>
                        <tr>
                            <td class="other1">{{ form.status }}</td>
                            <td class="other2"><a href="/statRemove/{{form.id}}" style="text-decoration:none; color:red" class="darkmode-ignore">Remove</a></td>
                        </tr>
                        <tr>
                            <td></br></td>
                        </tr>
                    </div>
                    {% endfor %}
                </table>
            </div>
            <h3>Pengalaman Organisasi/Kepanitiaan</h3>
            <div>
                <p>Organisasi: DPM</br>Kepanitiaan: Wisuda Genap</p>
            </div>
            <h3>Prestasi</h3>
            <div>
                Coming soon
            </div>
        </div>
        </br></br>
        <p style="text-align:center; font-size: 24px; font-weight: 500;">Tambah Aktivitas</p>
        <form action="" method="POST">
            {% csrf_token %}
            <table align="center" style="color: white; font-size:24px">
                {{ form.as_table }}
            </br>
            </table>
            <p style="text-align: center"><button type="submit" id="submit">&emsp;Submit&emsp;</button></p>
        </form>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>